.roles-view {
	position: relative;

	padding: {
		top: 5rem;
		right: 0rem;
		bottom: 1rem;
		left: 0rem;
	}

	.projects__add-btn {
        @include center-content('horizontal');
        bottom: 1rem;
        position: fixed;
        z-index: 6;
    }

	.roles__inner {
		margin: 0 auto;
		width: 80%;
		max-width: 1600px;

		.copy-link {
			margin: {
				left: 0.5rem;
			}
		}

		.v-data-table {
			background: {
				color: rgba(10,10,10, 0.75) !important;
			}

			.custom-menu-offset {
				margin-top: -20px !important;
			}

			tbody {

				.col__role-id {
					
					&:hover {
						text-decoration: underline;
					}
				}

				td.col__more {
					
				}
				
				td.col__publish {
					text-align: center;
				}



				tr:hover {
					cursor: pointer;
					background: {
						color: rgba(100,100,100,0.2) !important;
					}
				}
			}
		}
	}

}
