.app-button__container {
    cursor: pointer;
    @include not-selectable();

	.app-button {
		width: inherit;
		min-width: 150px;
		position: relative;
		display: inline-block;
		border: 1px solid $app-color-button-border;
		margin: 0 auto;
		overflow: hidden;
        background: {
            color: $app-color-button-background;
		}

		* {
			pointer-events: none;
		}

		.inner {
			.progress__ind__container {
				height: 34px;
				text-align: center;
				background: {
					color: $color-m-grey-lighten-3;
				}
				padding: {
					top: 1px;
				}
			}
		}

		.text {
			font-size: 0.7rem;
			font-weight: $font-weight-medium;
			padding: {
					top: 10px;
					bottom: 8px;
			}
		}

		&:hover:not(.disabled) {

			.app-button__text {
				transition-delay: 0s;
				transform: translateX( 7% );
			}

			.app-button__bg-under {
				transition-delay: 0s;
				transform: translateX( 0% );
			}

			.app-button__bg {
				transition-delay: 0.1s;
				transform: translateX( 0% );
			}

			.app-button__text-animated {
				transition-delay: 0.2s;
				transform: translateX( 0% );
				opacity: 1;
			}
        }

		.app-button__text {
			color: $app-color-button-text;
			transition: all 0.2s ease-in-out;
			transition-delay: 0.25s;
			text-align: center;
		}

		.app-button__text-animated,
		.app-button__bg-under,
		.app-button__bg {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			transform: translateX( -10% );
			transition: all 0.2s ease-in-out;
            background: {
                color: transparent;
            }
		}

		.app-button__text-animated {
			text-transform: uppercase;
			text-align: center;
			transition-delay: 0s;
			opacity: 0;
			// font-size: 0.7rem;
			font-weight: $font-weight-medium;
			color: $app-color-button-text-hover;
		}

		.app-button__bg,
		.app-button__bg-under {
			transition-delay: 0.2s;
			background-color: $app-color-button-background-hover;
			transform: translateX( -180% );

			&:after {
				content: "";
				margin-left: 145px;
				position: inherit;
				display: block;
				// width: 80%;
				width: min(80%, 200px);
				height: 20px;
				border-top: 70px solid $app-color-button-background-hover;
				border-right: 70px solid transparent;
			}
		}

		.app-button__bg-under {
			transition-delay: 0.3s;
			background-color: $app-color-button-background-animate;
			opacity: 0.7;

			&:after {
				border-top: 50px solid $app-color-button-background-animate;
			}

		}

		.app-button__text {
			text-transform: uppercase;
		    display: block;
	    	position: relative;
	    	// padding: 8px 40px;
	    	// font-size: 0.8rem;
		}

		&.default {
			color: $app-color-button-text;
			background-color: $app-color-button-background;
			border: 1px solid $app-color-button-border;

			.app-button__text {
				color: $app-color-button-text;
			}

			.app-button__text-animated {
				color: $app-color-button-text-hover;
			}

			.app-button__bg {
				background-color: $app-color-button-background-hover;

				&:after {
					border-top: 70px solid $app-color-button-background-hover;
				}
			}
		}

		&.light {
			color: $app-color-button-text-light;
			background-color: $app-color-button-background-light;
			border: 1px solid $app-color-button-border-light;

			.app-button__text {
				color: $app-color-button-text-light;
			}

			.app-button__text-animated {
				color: $app-color-button-text-hover-light;
			}

			.app-button__bg {
				background-color: $app-color-button-background-hover-light;

				&:after {
					border-top: 70px solid $app-color-button-background-hover-light;
				}
			}
		}

		&.colorful {
			color: $app-color-button-text-colorful;
			background-color: $app-color-button-background-colorful;
			border: 1px solid $app-color-button-border-colorful;

			.app-button__text {
				color: $app-color-button-text-colorful;
			}

			.app-button__text-animated {
				color: $app-color-button-text-hover-colorful;
			}

			.app-button__bg {
				background-color: $app-color-button-background-hover-colorful;

				&:after {
					border-top: 70px solid $app-color-button-background-hover-colorful;
				}
			}
		}
	}

	&.disabled {
		pointer-events: none !important;

		.app-button {
			color: $color-m-grey-darken-3;
			background-color: $color-m-grey-darken-4;
			border: 1px solid $color-m-grey-lighten-2;
			// border: 1px solid $color-m-grey-darken-3;

			.app-button__text {
				color: $color-m-grey-darken-2;
			}
		}
	}
}
