.create-picker {
	// position: relative;
	height: 32rem;
	border: 1px solid $app-color-text-light;
	background: {
		// color: $app-color-ui-background;
		color: $app-color-primary-dark;
	}

	.create-picker__content {
		@include center-content();
		color: $app-color-white;

		.picker__title {
			text-align: center;
			font-size: 1.6rem;
			font-family: 'Din-CondBlack';
			text-transform: uppercase;
		}

		.picker__options {
			display: flex;

			.content__item {
				transition: background 100ms ease-in-out;
				cursor: pointer;
				border-radius: 4px;
				position: relative;
				margin: 1rem 2rem;
				width: 250px;
				height: 250px;
				padding: 3rem;

				.item {
					@include center-content();
					text-align: center;
					font-size: 1.2rem;
					font-family: 'Din-CondBlack';
					text-transform: uppercase;
				}

				&:hover {
					background: {
						color: $app-color-white-alpha-10;
					}
				}
			}
		}

	}
}
