$animationSpeed: 100ms;
$animationDelay: 100ms;

.projects-item {
  position: relative;

  .project__inner {
    @include center-content();

    .project__edit-btns {
      position: fixed;
      right: 0;
      height: 42px;
      // top: -35px;
      display: flex;
      z-index: 999;
      // background: rgba(0, 0, 0, 0.7);
      // border-radius: 0 0 0 4px;
      padding: 0.25rem;

      .btn {
        margin: {
          left: 0.5rem;
        }
      }

      .delete-btn {
        background: {
          color: $app-color-error;
        }

        .v-icon {
          margin: {
            top: 1px;
            left: 1px;
          }
        }
      }
    }

    width: 80%;
    // max-width: 100rem;
    max-width: 1600px;

    /* .hidden-img {
      width: 70rem;
      opacity: 0;
    } */

    .image__main {
      box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.3);
      // max-width: 70rem;
      // width: 90%;
      // opacity: 0.7;

      /* img {
        width: 100%;
      } */

      .scrim {
        transition: background 0.25s ease-in-out;
        position: absolute;
        // padding: 1rem;
        overflow: hidden;
        background-clip: content-box;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        // background: linear-gradient(to bottom, rgba(0, 0, 0, 0) -25%, rgba(0, 0, 0, 0.4) 47%, rgba(0, 0, 0, 0) 125%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        /* background: {
          color: rgba(0, 0, 0, 0.25);
          // color: $app-color-black-alpha-50;
        } */
      }
    }

    .image-container {
      position: absolute;
      // max-width: 70rem;
      // width: 90%;
      opacity: 1;
      top: 50%;
      left: 50%;
      will-change: opacity, filter, transform, left, top;
      transform: scale(1) translate(-50%, -50%);
      transform-origin: top left;
      transition: filter $animationSpeed linear $animationDelay,
                  opacity $animationSpeed linear $animationDelay,
                  transform $animationSpeed linear $animationDelay,
                  left $animationSpeed linear $animationDelay,
                  top $animationSpeed linear $animationDelay;

      .v-image {
        transition: left $animationSpeed linear $animationDelay,
                    top $animationSpeed linear $animationDelay;
      }

      .poly,
      .background-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        will-change: left, top;
        transition: left $animationSpeed linear $animationDelay,
                    top $animationSpeed linear $animationDelay;
      }

      .background-container {
        transition: background 100ms linear 300ms;

        &.light {
          background: {
            color: rgba(255, 255, 255, 1);
          }
        }

        &.dark {
          background: {
            color: rgba(0, 0, 0, 1);
          }
        }
      }
    }

    .title-container {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      
      .title-inner {
        position: relative;
        width: 100%;
        height: 100%;
        
        .project-title {
          @include center-content('vertical', -20px);
          width: 100%;

          p,
          h1,
          h3 {
            color: $app-color-white !important;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
          }

          h3 {
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
            font-family: 'DIN-Cond';
            font-size: 2.2rem;
            line-height: 1rem;
            padding: {
              top: 0.5rem;
              bottom: 0.75rem;
            }
          }

          h1 {
            text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.5);
            font-family: 'DIN-CondBlack';
            font-size: 5.5rem;
            line-height: 5.2rem;
          }

          p {
            text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.6);
            font-weight: 600;
            font-family: 'DIN-CondLight';
            line-height: 3rem;
            font-size: 1.8rem;
          }

          .divider {
            height: 20px;
            width: 1px;
            background-color: $app-color-text-light;
            margin: 0 auto;
          }

          .app-button__container {
            @include center-content('horizontal');
            margin: {
              top: 1rem;
            }
          }
        }
      }
    }

    /* &:hover {
      .image__main {
        opacity: 0;
      }

      .image-container {
        filter: blur(0.5rem);
        opacity: 0.5;
        transform: scale(0.8) translate(-50%, -50%);

        .background-container {
          transition: background 100ms linear 0ms;

          &.light {
            background: {
              color: rgba(255, 255, 255, 0);
            }
          }

          &.dark {
            background: {
              color: rgba(0, 0, 0, 0);
            }
          }
        }

        .poly-0 {
          left: -70px;
        }

        .poly-1 {
          left: -70px;
          top: -70px;
        }

        .poly-2 {
          top: -70px;
        }

        .poly-3 {
          left: 70px;
          top: -70px;
        }

        .poly-4 {
          left: 20px;
          top: 40px;
        }

        .poly-5 {
          left: 60px;
          top: -40px;
        }

        .poly-6 {
          left: 60px;
          top: 70px;
        }

        .poly-7 {
          left: -70px;
          top: 70px;
        }
      }
    } */

    /* &:hover {
      .image__main {
        .scrim {
          background: {
            color: $app-color-black-alpha-15;
          }
        }
      }
    } */
  }
}

@include respond-to(medium) {
  .projects-item {
    .project__inner {
      position: unset;
      top: unset;
      left: unset;
      transform: unset;
      width: 100%;
      
      .image__main {
        height: 100%;
        padding: 0.5rem 0;

        .v-image {
          height: 100%;

          .v-image__image--contain {
            background: {
              size: cover;
            }
          }
        }

        .scrim {
          padding: 0.5rem 0;
        }
      }

      .title-container {
        .title-inner {
          .project-title {
            p,
            h1,
            h3 {
              // color: $app-color-white !important;
              // text-align: center;
              // text-transform: uppercase;
              // width: 100%;
            }

            h3 {
              // text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
              // font-family: 'DIN-Cond';
              // font-size: 2.2rem;
              // line-height: 1rem;
              /* padding: {
                top: 0.5rem;
                bottom: 0.75rem;
              } */
            }

            h1 {
              // text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.5);
              // font-family: 'DIN-CondBlack';
              // font-size: 5.5rem;
              // line-height: 5.2rem;
            }

            p {
              // text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.6);
              // font-weight: 500;
              // font-family: 'DIN-CondLight';
              // line-height: 3rem;
              // font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
}

@include respond-to(small) {
  .projects-item {
    .project__inner {
      
      .image__main {
        
        .v-image {
          height: 100%;

          .v-image__image--contain {
            background: {
              size: cover;
            }
          }
        }

        .scrim {
          padding: 0.5rem 0;
        }
      }

      .title-container {
        .title-inner {
          .project-title {

            h3 {
              font-size: 1.8rem;
              line-height: 0.8rem;
            }

            h1 {
              font-size: 3.2rem;
              line-height: 3.2rem;
            }

            p {
              font-weight: 600;
              font-size: 1.5rem;
              line-height: 3rem;
            }
          }

          .divider {
            display: none;
          }

          .app-button__container {
            margin: {
              top: 0rem !important;
            }
          }
        }
      }
    }
  }
}