/*
/* App Colors
/*
*/

// Base Colors
$app-color-white          : #FFFFFF;
$app-color-black          : #040408;
$app-color-primary        : #190052;
$app-color-primary-dark   : #06001e;
$app-color-secondary      : #34009C;
$app-color-accent         : #FF6400;
$app-color-error          : #B20000;
$app-color-success        : #00B200;

// Transparencies
$app-color-white-alpha-10 : rgba( 255, 255, 255, 0.1 );
$app-color-white-alpha-25 : rgba( 255, 255, 255, 0.25 );
$app-color-white-alpha-50 : rgba( 255, 255, 255, 0.5 );
$app-color-white-alpha-75 : rgba( 255, 255, 255, 0.75 );
$app-color-black-alpha-10 : rgba( 0, 0, 0, 0.1 );
$app-color-black-alpha-15 : rgba( 0, 0, 0, 0.15 );
$app-color-black-alpha-25 : rgba( 0, 0, 0, 0.25 );
$app-color-black-alpha-35 : rgba( 0, 0, 0, 0.35 );
$app-color-black-alpha-50 : rgba( 0, 0, 0, 0.5 );
$app-color-black-alpha-75 : rgba( 0, 0, 0, 0.75 );
$color-accent-purple-alpha: rgba( 55, 15, 174, 0.5 );

// Background Colors
$app-color-background     : linear-gradient(to right, #06001a 0%, #150039 50%, #06001a 100%);
$app-color-nav-background : $app-color-primary;
$app-color-ui-background  : #141417;

// Typography Colors
$app-color-text-dark      : $color-m-grey-darken-4;
$app-color-text-light     : #EFEFEF;



////// GLOBAL COMPONENTS //////
// App Button
$app-color-button-background: $app-color-black-alpha-75;
$app-color-button-text: $app-color-text-light;
$app-color-button-border: $app-color-text-light;

$app-color-button-background-animate: $app-color-secondary;
$app-color-button-background-hover: $app-color-text-light;
$app-color-button-text-hover: $app-color-text-dark;

// App Button (light)
$app-color-button-background-light: $color-m-white;
$app-color-button-text-light: $app-color-text-dark;
$app-color-button-border-light: $app-color-text-light;

$app-color-button-background-hover-light: $app-color-primary;
$app-color-button-text-hover-light: $app-color-text-light;

// App Button (colorful)
$app-color-button-background-colorful: #180052;
$app-color-button-text-colorful: $app-color-text-light;
$app-color-button-border-colorful: $app-color-text-light;
$app-color-button-background-hover-colorful: $app-color-text-light;
$app-color-button-text-hover-colorful: $app-color-text-dark;


